@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

input:invalid:required:focus {
  border-color: red;
}
input:invalid:focus {
  border-color: red;
}


.homepage-container{
  flex: 1;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill , 265px);
  grid-auto-rows:8px;
  justify-content: center;
  overflow-x: hidden;
}

.card{
  margin: 12px;
  border-radius: 12px;
}

.card.small{
  grid-row-end: span 20;
  overflow: hidden;
}

.card.medium{
  grid-row-end: span 32;
  height: fit-content;
  overflow: hidden;
}

.card.large{
  grid-row-end: span 47;
  height: fit-content;
  overflow: hidden;
} 

/* grid responsiveness */
@media screen and (max-width: 800px) {

  .homepage-container{
    flex: 1;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill , 250px);
    grid-auto-rows:5px;
    justify-content: center;
    overflow-x: hidden;
  }
  .card.small{
    grid-row-end: span 28;
    background-color: blue;
    overflow: hidden;
  }
  
  .card.medium{
    grid-row-end: span 35;
    overflow: hidden;
  }
  
  .card.large{
    grid-row-end: span 66;
    background-color: black;
    overflow: hidden;
  } 
  
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .homepage-container{
    flex: 1;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill , 50%);
    grid-auto-rows:5px;
    justify-content: center;
    overflow-x: hidden;
  }
  .card.small{
    grid-row-end: span 22;
    background-color: blue;
    overflow: hidden;
  }
  
  .card.medium{
    grid-row-end: span 35;
    overflow: hidden;
  }
  
  .card.large{
    grid-row-end: span 50;
    background-color: red;
    overflow: hidden;
  } 
}

.landing-text{
   animation-name: landing-text-animation;
   animation-duration: 10s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   /* animation-delay: 4.2s; */
   animation-iteration-count: infinite;
}

@keyframes landing-text-animation {
   0% {transform: translateY(20%); opacity: 0;}
   50% {transform: translateY(0%); opacity: 1;}
   100% {transform: translateY(-80%); opacity: 0;}
}

/* loader css */
.loader {
  width: 28px;
  height: 20%;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ddbf6d;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 


/* Page loader */
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fade {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

