@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

input:invalid:required:focus {
  border-color: red;
}
input:invalid:focus {
  border-color: red;
}


.homepage-container{
  flex: 1;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill , 265px);
  grid-auto-rows:8px;
  justify-content: center;
  overflow-x: hidden;
}

.card{
  margin: 12px;
  border-radius: 12px;
}

.card.small{
  grid-row-end: span 20;
  overflow: hidden;
}

.card.medium{
  grid-row-end: span 35;
  overflow: hidden;
}

.card.large{
  grid-row-end: span 47;
  overflow: hidden;
} 

/* grid responsiveness */
@media screen and (max-width: 800px) {

  .homepage-container{
    flex: 1;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill , 250px);
    grid-auto-rows:5px;
    justify-content: center;
    overflow-x: hidden;
  }
  .card.small{
    grid-row-end: span 28;
    background-color: blue;
    overflow: hidden;
  }
  
  .card.medium{
    grid-row-end: span 35;
    overflow: hidden;
  }
  
  .card.large{
    grid-row-end: span 66;
    background-color: black;
    overflow: hidden;
  } 
  
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .homepage-container{
    flex: 1;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill , 50%);
    grid-auto-rows:5px;
    justify-content: center;
    overflow-x: hidden;
  }
  .card.small{
    grid-row-end: span 22;
    background-color: blue;
    overflow: hidden;
  }
  
  .card.medium{
    grid-row-end: span 35;
    overflow: hidden;
  }
  
  .card.large{
    grid-row-end: span 50;
    background-color: red;
    overflow: hidden;
  } 
}

.landing-text{
   animation-name: landing-text-animation;
   animation-duration: 10s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   /* animation-delay: 4.2s; */
   animation-iteration-count: infinite;
}

@keyframes landing-text-animation {
   0% {transform: translateY(20%); opacity: 0;}
   50% {transform: translateY(0%); opacity: 1;}
   100% {transform: translateY(-80%); opacity: 0;}
}

